@model Mitgliedschaft
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="card">
    <div class="card-header">
        <h5>Mitgliedschaften hinzufügen/bearbeiten</h5>
    </div>

    <form asp-action="CreateEditMitgliedschaften" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col form-group">
                    <input hidden asp-for="Id" placeholder="ID" class="form-control" />
                </div>
            </div>

            @{
                if (User.IsInRole("Admin"))
                {
                    <div class="row">
                        <div class="col form-group">
                            <input asp-for="Username" placeholder="E-Mail des Nutzers" class="form-control" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col form-group">
                            <input asp-for="Username" id="username" type="text" value="" class="form-control" readonly />
                        </div>
                    </div>
                }
            }
            
            <div class="row">
                <div class="col form-group">
                    <select asp-for="IdInteressengruppe" placeholder="ID der Interessengruppe" class="form-control">
                        @foreach(var item in ViewBag.Items as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary">Speichern</button>
        </div>
    </form>

    <script>
        var inputfield=document.getElementById('username');
        inputfield.value='@User.Identity.Name';
    </script>
</div>